@{
    ViewBag.Title = "About";
}
<div class="container">
    <br>
    <h1>Tayyibah Alau d din</h1>
    <div class="container">
        <div class="col-lg-8">
            <section>
                <p style="font-size:1.3rem">
                    My name is Tayyibah Alau d din, and I'm a
                    <script type="text/javascript">var d = new Date(); document.write(d.getFullYear() - 1995);</script>-year  web developer of .net in Lahore.
                </p>
                <p>
                    I was born in Sialkot ,my father was in Army and I want to be a software developer in Army
                </p><p>
                </p>
                <p>
                    I am doing BS in Software Engineering from PUCIT ,currently I am in my final semester and will do job and further studies
                </p>
                <p>
                    I want to learn each and every thing related to IT field,because I love to.....
                </p>
            </section>
        </div>
    </div>
    <div class="col-lg-6">
        <p class="avatar-image"><img src="@Url.Content("~/files/image1.jpg")"></p>
    </div>

</div>