
@{
    ViewBag.Title = "CV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CV</h2>
<a href="@Url.Content("~/UploadedFiles/"){{paperURL}}" target="_blank"><i class="fa fa-2x fa-twitter"></i></a> &nbsp;

