
@{
    ViewBag.Title = "Projetcs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects</h2>

<p>These are the final Year and semester Projects that I have done so far</p>
<p>You can access them on my GitHub account </p>

    <ol>

        <li>
            Automation in Request General Forms of PUCIT (FYP Project)
            <a href="http://aim.pucit.edu.pk:8182/RMS/Login?ReturnURL=/RMS" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;GO</a> &nbsp;
        </li>
        <li>
            Library Management System in PUCIT (FYP Project)
            <a href="http://aim.pucit.edu.pk:8182/LMS/Login?ReturnURL=/LMS" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;GO</a> &nbsp;
        </li>
        <li>
            Shopping Website(both in .net and JAVA)
            <a href="http://httpbsef14a011apphbcom-3.apphb.com/" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;GO(in .net) </a> &nbsp;
        </li>
        <li>
            Number Plate Extraction in Computer Vision
        </li>
        <li>
            Face Detection in Computer Vision
        </li>
        <li>
            School Management System in JAVA and C#
        </li>
        <li>
            Screen Saver and Games in Assembly language
        </li>
        <li>
            Games in Assembly language ,JAVA,C++
        </li>
        <li>
            Screen Saver in Assembly language
        </li>
        <li>
            Database Management Projects on Hostel Management System
        </li>
        <li>
            Software Requirement Engineering Project on Hotel Management System 
        </li>
</ol>
 You can ping me on any social media. Preferably on
<a href="https://www.facebook.com/messages/t/100008276357950/">Messenger</a> for details<br />